.toast {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 30px 50px;
  border-radius: 16px;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  z-index: 9999;
  animation: slideIn 0.3s ease-in-out, fadeOut 1s ease-in-out 1.5s;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  background-color: rgba(120, 116, 116, 0.95);
}

.toast.success {
  border-left: 8px solid rgba(255, 255, 255, 1);
}

.toast.error {
  border-left: 8px solid #f44336;
}

.toast.info {
  border-left: 8px solid #2196f3;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
